.root {
    -fx-padding: 0;
    -fx-margin: 0;
    -fx-font-family: 'Jost', sans-serif;
    -fx-background-color: linear-gradient(to bottom, #8C4A2F, #D7BFAE, #8C4A2F);
    -fx-alignment: center;
}

.textBox {
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-border-width: 5;
    -fx-border-color: #6F3D2F;
}

.button {
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-border-width: 2;
    -fx-border-color: #D7BFAE;
    -fx-background-color: #6F3D2F;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}