.header {
    -fx-background-color: #5e341e;
    -fx-border-color: #5e341e;
}

.round {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

.transparent {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane > .viewport {
   -fx-background-color: #5e341e;
   -fx-border-color: #5e341e;
   -fx-text-fill: white;
}